/laravel_e_commerce/node_modules
/laravel_e_commerce/public/build
/laravel_e_commerce/public/hot
/laravel_e_commerce/public/storage
/laravel_e_commerce/storage/*.key
/laravel_e_commerce/vendor
/laravel_e_commerce/.github
.env
.env.backup
.env.production
.git
/laravel_e_commerce/.phpunit.result.cache
/laravel_e_commerce/Homestead.json
/laravel_e_commerce/Homestead.yaml
/laravel_e_commerce/auth.json
/laravel_e_commerce/npm-debug.log
/laravel_e_commerce/yarn-error.log
/laravel_e_commerce/.fleet
/laravel_e_commerce/.idea
.vscode
